<div>
  {{#if isLoading}}
    <ContentPlaceholders as |P|>
      <P.text @lines={{5}} />
    </ContentPlaceholders>
  {{else}}
    <table class="highlight centered responsive-table">
      <thead>
      <tr>
        <th>Form Number</th>
        <th>Replace date</th>
        <th>Reason</th>
        <th>Paper machine</th>
        <th>worker</th>
      </tr>
      </thead>
      <tbody>
      {{#each replacedList as |r|}}
        <tr>
          <td>{{#link-to "motor-replace.detail" r.id}}{{r.id}}{{/link-to}}</td>
          <td>{{r.replaceDate}}</td>
          <td>{{r.replaceReason}}</td>
          <td>{{r.pm.name}}</td>
          <td>{{r.worker.name}}</td>
          <!--todo  add a component that contain two select: to repair and drop it-->
          <!--<td class="select-td">-->
            <!--<div class="input-field col s12">-->
              <!--<select>-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">To Repair</option>-->
                <!--<option value="2">To Drop</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</td>-->
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>