<div class="card">
  <div class="card-content">
    <span class="card-title">Replace Form</span>
    <div class="row">
      <div class="col m4 xl3">
        <MdSelect @options={{pmList}} @label="PM" @selectedOption={{newForm.pm}} @initMessage="Select PM"></MdSelect>
      </div>

      <div class="col m4 xl3">
        <label>Equipment</label>
        <div style="padding-top: 7px;">
          {{#power-select
            options=equipmentListArray
            searchField="equipment"
            selected=selectedEquipment
            searchField="name"
            searchPlaceholder="Type to filter..."
            onchange=(action (mut selectedEquipment))
            placeholder="Series Equipment"
          as |equipment|
          }}
            {{equipment.name}}
          {{/power-select}}
        </div>
      </div>

      <div class="col m4 xl3">
        <label>Search series number from storage.</label>
        <div style="padding-top: 7px;">
          {{#power-select
            search=(action "searchSeriesNumber")
            options=onlineSearchList
            selected=onlineMotor
            placeholder="Series Number"
            onchange=(action (mut onlineMotor))
          as |onlineMotor|
          }}
            {{onlineMotor}}
          {{/power-select}}
        </div>
      </div>
    </div>

    <div class="row">

    </div>
    <div class="row">
      <div class="col xl3">
        <MdSelect @options={{userList}} @label="Mechanic"
                  @selectedOption={{newForm.worker}} @initMessage="Select Mechanic"></MdSelect>
      </div>
      <div class="col xl3">
        <MdSelect @options={{this.replacedReasonArray}} @label="Replaced reason"
                  @selectedOption={{newForm.replacedReason}} @initMessage="Replaced Reason" />
      </div>
      {{#if showReasonTextArea}}
        <div class="col xl4">
          <label>Replaced Reason</label>
          <textarea  class="materialize-textarea" >{{replacedReason}}</textarea>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="card-action">
    <a class="waves-effect waves-light btn-small" onclick={{action 'cancelForm'}}><i class="material-icons left">cancel</i>Cnacel</a>
    <a class="waves-effect waves-light btn-small" onclick={{action 'saveForm'}}><i class="material-icons left">send</i>Save</a>
  </div>
</div>
