<div>
  {{#if isLoading}}
    <div class="row"></div>
    <div class="row">
      <div class="col s12">
        <ContentPlaceholders as |P|>
          <P.heading/>
          <P.text @lines={{2}} />
        </ContentPlaceholders>
      </div>
    </div>
  {{else}}
    <table class="highlight centered responsive-table">
      <thead>
      <tr>
        <th>Form Number</th>
        <th>Replace date</th>
        <th>Paper machine</th>
        <th>equipment</th>
        <th>Reason</th>
        <th>Mechanic</th>
      </tr>
      </thead>
      <tbody>
      {{#each replacedList as |r|}}
        <tr>
          <td>{{#link-to "motor-replace.detail" r.id}}{{r.id}}{{/link-to}}</td>
          <td>{{r.replaceDate}}</td>
          <td>{{get (get pmList r.pm) 'name'}}</td>
          <td>{{get (get equipmentList r.equipment) 'name'}}</td>
          <td>{{r.replaceReason}}</td>
          <td>{{get (get workerList r.worker) 'name'}} {{!r.worker}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>