<div>
  {{#if isLoading}}
    <div class="row"></div>
    <div class="row">
      <div class="col s12">
        <ContentPlaceholders as |P|>
          <P.heading/>
          <P.text @lines={{2}} />
        </ContentPlaceholders>
      </div>
    </div>
  {{else}}
    <table class="highlight centered responsive-table">
      <thead>
      <tr>
        <th>Form Number</th>
        <th>Replace date</th>
        <th>Reason</th>
        <th>Paper machine</th>
        <th>worker</th>
      </tr>
      </thead>
      <tbody>
      {{#each replacedList as |r|}}
        <tr>
          <td>{{#link-to "motor-replace.detail" r.id}}{{r.id}}{{/link-to}}</td>
          <td>{{r.replaceDate}}</td>
          <td>{{r.replaceReason}}
          </td>
          <td>{{r.pm}}</td>
          <!--<td>{{!get (get workerList r.worker) 'name'}} {{!r.worker}}</td>-->
          <td>
            {{#each workerList as |w|}}
              {{#if (eq w.id r.worker)}}
                {{w.name}}
              {{/if}}
            {{/each}}
          </td>
          <!--todo  add a component that contain two select: to repair and drop it-->
          <!--<td class="select-td">-->
            <!--<div class="input-field col s12">-->
              <!--<select>-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">To Repair</option>-->
                <!--<option value="2">To Drop</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</td>-->
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>