{{#if isLoading}}
  <div class="row"></div>
  <div class="row">
    <div class="col s12">
      <ContentPlaceholders as |P|>
        <P.heading/>
        <P.text @lines={{5}} />
      </ContentPlaceholders>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center">Replaced Form</span>

          <div class="row">
            <div class="col xl2">
              <span class="label-title">Paper Machine: </span> {{get (get pmList replacedMotor.pm) 'name'}}
            </div>
            <div class="col xl2">
              <span class="label-title"> Equipment: </span> {{get (get equipmentList replacedMotor.equipment) 'name'}}
            </div>
            <div class="col xl3">
              <span class="label-title">Replaced Date: </span> {{replacedMotor.replaceDate}}
            </div>
            <div class="col xl2">
              <span class="label-title">Mechanic: </span> {{get (get workerList replacedMotor.worker) 'name'}}
            </div>
            <div>
              <span class="label-title">Reason: </span> {{replacedMotor.replaceReason}}
            </div>
          </div>

          <div class="line-gap">
            <div class="divider"></div>
          </div>

          <div class="row">
            <div class="col s12 xl1">
              <span class="label-title-column">On line</span>
            </div>
            <div class="col xl1">
              <span class="label-title">Power: </span>
              {{get (get motorDetail (get (get motor replacedMotor.motor) 'detail')) 'power'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Plot: </span>
              {{get (get motorDetail (get (get motor replacedMotor.motor) 'detail')) 'plot'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Frame: </span>
              {{get (get motorDetail (get (get motor replacedMotor.motor) 'detail')) 'frame'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Current: </span>
              {{get (get motorDetail (get (get motor replacedMotor.motor) 'detail')) 'current'}}
            </div>
            <div class="col xl2">
              <span class="label-title">Voltage: </span>
              {{get (get motorDetail (get (get motor replacedMotor.motor) 'detail')) 'voltage'}}
            </div>
            <div class="col xl2">
              <span class="label-title">Series Number: </span>
              {{get (get motor replacedMotor.motor) 'series'}}
            </div>
          </div>

          <div class="line-gap">
            <div class="divider"></div>
          </div>

          <div class="row">
            <div class="col s12 xl1">
              <span class="label-title-column">Off line</span>
            </div>
            <div class="col xl1">
              <span class="label-title">Power: </span>
              {{get (get offLineMotorDetail (get (get offLineMotor replacedMotor.offLineMotor) 'detail')) 'power'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Plot: </span>
              {{get (get offLineMotorDetail (get (get offLineMotor replacedMotor.offLineMotor) 'detail')) 'plot'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Frame: </span>
              {{get (get offLineMotorDetail (get (get offLineMotor replacedMotor.offLineMotor) 'detail')) 'frame'}}
            </div>
            <div class="col xl1">
              <span class="label-title">Current: </span>
              {{get (get offLineMotorDetail (get (get offLineMotor replacedMotor.offLineMotor) 'detail')) 'current'}}
            </div>
            <div class="col xl2">
              <span class="label-title">Voltage: </span>
              {{get (get offLineMotorDetail (get (get offLineMotor replacedMotor.offLineMotor) 'detail')) 'voltage'}}
            </div>
            <div class="col xl2">
              <span class="label-title">Series Number: </span>
              {{get (get offLineMotor replacedMotor.offLineMotor) 'series'}}
            </div>
          </div>

          <div class="line-gap">
            <div class="divider"></div>
          </div>
          <div class="row">
            <div class="col s12">
              How do you want treat this one?
            </div>
          </div>

          <div class="row">
            <div class="col xl3">
              <label>
                <input name="group1" type="radio" class="with-gap" onclick={{action 'selectedAction' 'toRepair'}}/>
                <span>This motor will be <span style="color: green">repair</span></span>

              </label>
            </div>

            <div class="col xl3">
              <label>
                <input name="group1" type="radio" class="with-gap" onclick={{action 'selectedAction' 'toAbandon'}}/>
                <span>This motor will be <span style="color: red;">abandon</span></span>
              </label>
            </div>
          </div>

        </div>
        <div class="card-action">
          {{#link-to "motor-replace" class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
          <a class="waves-effect waves-light btn-small {{unless isActionSelected 'disabled'}}" {{action 'saveReplacedMotorAction'}}><i class="material-icons left">send</i>Submit</a>
        </div>
      </div>
    </div>
  </div>
{{/if}}