<div class="row">
  <div class="col s12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title center">Motor Detail</span>
        <div class="row">
          <div class="input-field col s4">
            {{input type="text" value=motor.location id="location"}}
            <label class="active" for="location">Location</label>
          </div>
          <div class="input-field col s4">
            {{input type="text" value=motor.detail.power id="power"}}
            <label class="active" for="power">Power</label>
          </div>
          <div class="input-field col s4">
            {{input type="text" value=motor.detail.plot id="plot"}}
            <label class="active" for="plot">Plot</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            {{input type="text" value=motor.detail.current id="current"}}
            <label class="active" for="current">Current</label>
          </div>
          <div class="input-field col s4">
            {{input type="text" value=motor.detail.voltage id="voltage"}}
            <label class="active" for="voltage">Voltage</label>
          </div>
          <div class="input-field col s4">
            {{input type="text" value=motor.detail.frame id="frame"}}
            <label class="active" for="frame">Frame</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            {{input type="text" value=motor.seriesNumber id="seriesNumber"}}
            <label class="active" for="seriesNumber">Series number</label>
          </div>
          <div class="input-field col s6">
            {{input type="text" value=motor.remark id="remark"}}
            <label class="active" for="remark">Remark</label>
          </div>
        </div>
      </div>
      <div class="card-action">
        <!--todo create reducer for cancel create new motor -->
        <a href="/storage/new" class="waves-effect waves-light btn-small"><i class="material-icons left">cancel</i>cancel</a>
        <a class="waves-effect waves-light btn-small" {{action 'createNewMotorAction' motor}}><i class="material-icons left">send</i>save</a>
      </div>
    </div>
  </div>
</div>