<div class="row">
  <div class="col s12">
    <div class="card ">
      <div class="card-content">
        <span class="card-title center">Motor Detail</span>
        <div class="row">
          <div class="col s4">
            <label>Location</label>
            {{input type="text" value=motor.location}}
          </div>
          <div class="col s4">
            <label>Power</label>
            {{input type="text" value=motor.detail.power}}
          </div>
          <div class="col s4">
            <label>Plot</label>
            {{input type="text" value=motor.detail.plot}}
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label>Current</label>
            {{input type="text" value=motor.detail.current}}
          </div>
          <div class="col s4">
            <label>Voltage</label>
            {{input type="text" value=motor.detail.voltage}}
          </div>
          <div class="col s4">
            <label>Frame</label>
            {{input type="text" value=motor.detail.frame}}
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label>Series number</label>
            {{input type="text" value=motor.seriesNumber }}
          </div>
          <div class="col s6">
            <label>Remark</label>
            {{input type="text" value=motor.remark}}
          </div>
        </div>
      </div>
      <div class="card-action">
        {{#if (eq statusCode 201)}}
          {{#link-to "storage" class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
        {{else}}
          <a class="waves-effect waves-light btn-small" {{action "cancelNewMotorAction"}}><i class="material-icons left">cancel</i>cancel</a>
          <a class="waves-effect waves-light btn-small" {{action "createNewMotorAction" motor}}><i class="material-icons left">send</i>save</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>