{{#if isLoading}}
  <ContentPlaceholders as |P|>
    <P.text @lines={{5}} />
  </ContentPlaceholders>
{{else}}
  {{#if motor}}
    <div class="row">
      <div class="col s12">
        <div class="card ">
          <div class="card-content">
            <span class="card-title center">Motor Detail</span>
            <div class="row">
              <div class="col s4">
                <label>Location</label>
                {{input type="text" value=motor.location }}
              </div>
              <div class="col s4">
                <label>Power</label>
                {{input type="text" value=motor.detail.power}}
              </div>
              <div class="col s4">
                <label>Plot</label>
                {{input type="text" value=motor.detail.plot}}
              </div>

            </div>
            <div class="row">
              <div class="col s4">
                <label>Current</label>
                {{input type="text" value=motor.detail.current }}
              </div>
              <div class="col s4">
                <label>Voltage</label>
                {{input type="text" value=motor.detail.voltage}}
              </div>
              <div class="col s4">
                <label>Frame</label>
                {{input type="text" value=motor.detail.frame}}
              </div>
            </div>
            <div class="row">
              <div class="col s4">
                <label>Series number</label>
                {{input type="text" value=motor.seriesNumber}}
              </div>
              <div class="col s6">
                <label>Remark</label>
                {{input type="text" value=motor.remark}}
              </div>
            </div>
          </div>
          <div class="card-action">
            {{#link-to "storage" class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
            <a class="waves-effect waves-light btn-small" onclick={{action "updateMotorDetailAction" motor}}><i class="material-icons left">edit</i>edit</a>
            <a class="waves-effect waves-light btn-small" onclick={{action "deleteMotorAction" motor.id}}><i class="material-icons left">delete</i>drop</a>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="row">
      {{#link-to "storage" class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
      <span class="font-size-position">This motor is not exist</span>
    </div>
  {{/if}}
{{/if}}