{{#if isLoading}}
  <ContentPlaceholders as |P|>
    <P.text @lines={{5}} />
  </ContentPlaceholders>
{{else}}
  {{#if motor}}
    <div class="row">
      <div class="col s12">
        <div class="card ">
          <div class="card-content">
            <span class="card-title center">Motor Detail</span>
            <div class="row">
              <div class="input-field col s4">
                <input value={{motor.location}} id="location" type="text">
                <label class="active" for="location">Location</label>
              </div>
              <div class="input-field col s4">
                <input value={{motor.detail.power}} id="power" type="text">
                <label class="active" for="power">Power</label>
              </div>
              <div class="input-field col s4">
                <input value={{motor.detail.plot}} id="plot" type="text">
                <label class="active" for="plot">Plot</label>
              </div>

            </div>
            <div class="row">
              <div class="input-field col s4">
                <input value={{motor.detail.current}} id="current" type="text">
                <label class="active" for="current">Current</label>
              </div>
              <div class="input-field col s4">
                <input value={{motor.detail.voltage}} id="voltage" type="text">
                <label class="active" for="voltage">Voltage</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input value={{motor.seriesNumber}} id="seriesNumber" type="text">
                <label class="active" for="seriesNumber">Series number</label>
              </div>
              <div class="input-field col s6">
                <input value={{motor.remark}} id="remark" type="text">
                <label class="active" for="remark">Remark</label>
              </div>
            </div>
          </div>
          <div class="card-action">
            {{#link-to 'storage' class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
            <!--<a class="waves-effect waves-light btn-small"><i class="material-icons left">edit</i>edit</a>-->
            <a class="waves-effect waves-light btn-small" onclick={{action 'deleteMotorAction' motor.id}}><i class="material-icons left">delete</i>drop</a>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="row">
      {{#link-to 'storage' class="waves-effect waves-light btn-small"}}<i class="material-icons left">arrow_back</i>back{{/link-to}}
      <span style="font-size: 18px; padding-left: 20px">This motor is not exist</span>
    </div>
  {{/if}}
{{/if}}