<div>
  {{#if isLoading}}
    <div class="row"></div>
    <div class="row">
      <div class="col s12">
        <ContentPlaceholders as |P|>
          <P.heading/>
          <P.text @lines={{2}} />
        </ContentPlaceholders>
      </div>
    </div>
  {{else}}
    <table class="highlight centered responsive-table">
      <thead>
      <tr>
        <th>Location</th>
        <th>Power</th>
        <th>Plot</th>
        <th>Frame</th>
        <th>Current</th>
        <th>Voltage</th>
        <th>Series Number</th>
        <th>Remark</th>
      </tr>
      </thead>
      <tbody>
      {{#each storageArray as |s|}}
        <tr>
          <td>{{#link-to "storage.detail" s.id}}{{s.location}}{{/link-to}}</td>
          <td>{{get (get details s.motor.detail) 'power'}}</td>
          <td>{{get (get details s.motor.detail) 'plot'}}</td>
          <td>{{get (get details s.motor.detail) 'frame'}}</td>
          <td>{{get (get details s.motor.detail) 'current'}}</td>
          <td>{{get (get details s.motor.detail) 'voltage'}}</td>
          <td>{{s.motor.seriesNumber}}</td>
          <td>{{s.motor.remark}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>