<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card ">
        <div class="card-content">
          <span class="card-title center">Motor Detail</span>
          <div class="row">
            <div>
            </div>
            <div class="input-field col s4">
              <input value={{motor.location}} id="location" type="text" class="validate">
              <label class="active" for="location">Location</label>
            </div>
            <div class="input-field col s4">
              <input value={{motor.power}} id="power" type="text" class="validate">
              <label class="active" for="power">Power</label>
            </div>
            <div class="input-field col s4">
              <input value={{motor.plot}} id="plot" type="text" class="validate">
              <label class="active" for="plot">Plot</label>
            </div>

          </div>
          <div class="row">
            <div class="input-field col s4">
              <input value={{motor.current}} id="current" type="text" class="validate">
              <label class="active" for="current">Current</label>
            </div>
            <div class="input-field col s4">
              <input value={{motor.voltage}} id="voltage" type="text" class="validate">
              <label class="active" for="voltage">Voltage</label>
            </div>

          </div>
          <div class="row">
            <div class="input-field col s4">
              <input value={{motor.seriesNumber}} id="seriesNumber" type="text" class="validate">
              <label class="active" for="seriesNumber">Series number</label>
            </div>
            <div class="input-field col s6">
              <input value={{motor.remark}} id="remark" type="text" class="validate">
              <label class="active" for="remark">Remark</label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>