<div class="container">
  <StorageContainer as |isLoading storageList pageIndex pageCount options|>
    <StorageList @isLoading={{isLoading}} @storageList={{storageList}} />
    <PaginationPager @pageIndex={{pageIndex}} @pageCount={{pageCount}} @gotoPage={{options.gotoPage}} />
  </StorageContainer>
</div>